
@*/

@model List<Pizza>



@if (Model.Count == 0)
{
    <h3>Al momento il sito è in manutenzione, ci scusiamo per il disagio!</h3>
}
else
{
    <div class="flex-container">
        <div class="row main-row mt-1 p-3">
            

            @foreach (Pizza pizza in Model)
            {
                <br>
                <div class="col-12 m-md-auto" style="width: 18rem;">
                    <div class="card shadow bg-body rounded" style="margin-bottom: 30px">

                        <img src="@pizza.Image" class="card-img-top ca-img" alt="Pizza">
                      
                        <div class="card-body">
                            <h4 class="card-title text-bg-dark text-dark p-3">@pizza.Title</h4>

                           
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="text-dark fw-semibold">@pizza.Description</p>
                                <p> <b>@pizza.Prezzo €</b> <small class="text-muted"></small></p>
                                <a class="btn btn-primary" href="@Url.Action("Details", "Pizza", new { id = pizza.Id } )" role="button">Dettagli</a>
                            </li>

                        </ul>
                    </div>
                </div>

            }





        </div>

    </div>

}
/*@


<div class="flex-container">
    <div class="row main-row mt-1 p-3">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Le nostre Pizze</h1>
                <div>
                    <input id="input_search" type="text" class="form-control" placeholder="Cerca la tua preferita..." />
                </div>
            </div>
        </div>
    </div>
    <div id="spinner-loader" class="d-flex justify-content-center">
        <div class="spinner-border mt-5" role="status">
            <img style="width:50px;" src="https://1.bp.blogspot.com/-CAroinPVLPw/X9GYFpVZ4DI/AAAAAAABcs8/EVBG1MUGq9wj56i-HKNzi5JHpDaERVlxwCNcBGAsYHQ/s509/food_pizza_whole.png" class="sr-only" />
        </div>
    </div>
    <div id="contenitore_no_articoli" class="row text-center d-none">
        <div class="col-12">
            <h3>Non ci sono pizze disponibili al momento!</h3>
        </div>
    </div>
    <div id="contenitore_articoli" class="row d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        loadArticoli();

        document.getElementById('input_search').addEventListener('keyup', searchArticles);

        function searchArticles() {
            let stringaDiRicerca = document.getElementById('input_search').value;
            loadArticoli(stringaDiRicerca);
        }

        function loadArticoli(searchString) {

            axios.get('/api/articoli', {
                params: {
                    search: searchString
                }
            }
            ).then((res) => {

                console.log('risultato ok');
                console.log(res);

                debugger;

                if (res.data.length > 0) {
                    document.getElementById('contenitore_articoli').classList.remove('d-none');
                    document.getElementById('contenitore_no_articoli').classList.add('d-none');

                    document.getElementById('contenitore_articoli').innerHTML = '';

                    res.data.forEach(articolo => {

                        console.log('articolo:', articolo);

                        document.getElementById('contenitore_articoli').innerHTML +=
                            `
                                    <div class="col-12 col-md-4 p-2">
                                        <div class="card post h-100">
                                        <a href="/Home/Details/${articolo.id}">
                                            <img src="${articolo.image}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">${articolo.title}</h5>
                                                <p class="card-text">${articolo.description}</p>
                                                        
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                    `;
                    });

                } else {

                    document.getElementById('contenitore_no_articoli').classList.remove('d-none');
                    document.getElementById('contenitore_articoli').classList.add('d-none');


                }

                document.getElementById('spinner-loader').classList.add('d-none');
            }).catch((error) => {
                console.log(error);
            });

        }

    </script>

}








